<!-- Features -->




<div class="place-items-center pt-4 pb-16 h-screen  ">
  <!--img src="./../../../assets/imagenes/coextrusora.jpg" alt="">-->
  <div class=" place-items-center grid grid-cols-3 gap-4 w-screen  ">
    <div class="container w-full h-screen p-8">
      <div class="h-screen p-4 card">
        <!-- Contenido aquí -->
        <h1 class="text-center">DOSIFICADORES</h1>

        <div class="container_card w-full h-32 cardDosi mt-8 grid place-items-center por25">
          <div class="nombre ">
            <h3 class="">Cantidad del dosificador 1: 25%</h3>
          </div>

        </div>
        <div class="container_card w-full h-32 cardDosi mt-8  grid place-items-center por50">
          <div class="nombre ">
            <h3 class="">Cantidad del dosificador 2: 50%</h3>
          </div>
        </div>
        <div class="container_card w-full h-32 cardDosi mt-8 grid place-items-center por75">
          <div class="nombre ">
            <h3 class="">Cantidad del dosificador 3: 75%</h3>
          </div>
        </div>

        <div class="container_card w-full h-1/3 mt-16">
          <div class="h-full w-full grid grid-cols-3 grid-rows-3 place-items-center">
            <div class="h-4/5 w-4/5 text-center">
              <h1>1</h1>
            </div>
            <div class="h-4/5 w-4/5 text-center">
              <h1>2</h1>
            </div>
            <div class="h-4/5 w-4/5 text-center">
              <h1>3</h1>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">+25%</h3>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">+25%</h3>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">+25%</h3>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">-25%</h3>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">-25%</h3>
            </div>
            <div class="h-4/5 w-4/5 card grid place-items-center btn">
              <h3 class="text-center">-25%</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-full h-screen p-4">
      <div class="h-1/2  m-4 p-4 grid grid-rows-3 gap-4 place-items-center ">
        <div class="h-full m-2 p-4 card grid place-items-center stopProd">
          <h1 class="text-center">PARAR LA PRODUCCIÓN</h1>
        </div>
        <div class="h-full m-2 p-4 card grid place-items-center warnStaff">
          <h1 class="text-center">AVISO A MANTENIMIENTO</h1>
        </div>
        <div class="h-full m-2 p-4 card grid place-items-center prodOn">
          <h1 class="text-center">REANUDAR PRODUCCIÓN</h1>
        </div>

      </div>
      <div class="h-1/2 mt-4 p-4 card">
        <!-- Contenido aquí -->
        <h1 class="text-center">EXTRUSORA</h1>
        <h2 class="text-center">°C de las resistencias</h2>
        <div class="h-3/4 w-full grid grid-cols-3 grid-rows-3 place-items-center">
          <div class="h-4/5 w-4/5 cardResi grid place-items-center u75">
            <h3 class="text-center">50°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center u75">
            <h3 class="text-center">67°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center a75">
            <h3 class="text-center">83°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center a75">
            <h3 class="text-center">98°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center a75">
            <h3 class="text-center">99°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center a75">
            <h3 class="text-center">93°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center u75">
            <h3 class="text-center">71°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi grid place-items-center a75">
            <h3 class="text-center">88°C</h3>
          </div>
          <div class="h-4/5 w-4/5 cardResi  grid place-items-center a75">
            <h3 class="text-center">90°C</h3>
          </div>
        </div>

      </div>
    </div>
    <div class="container w-full h-screen p-8">
      <div class="h-screen p-4 card">
        <!-- Contenido aquí -->

        <h1 class="text-lg text-center ">CALANDRA</h1>

        <div class="container_card w-full h-32 card mt-4 grid place-items-center">
          <h3 class="">Velocidad del rodillo 1: 15 metros/minuto</h3>
        </div>
        <div class="container_card w-full h-32 card mt-4 grid place-items-center">
          <h3 class="">Velocidad del rodillo 2: 28 metros/minuto</h3>
        </div>
        <div class="container_card w-full h-32 card mt-4 grid place-items-center">
          <h3 class="">Velocidad del rodillo 3: 17 metros/minuto</h3>
        </div>
        <div class="container_card w-full h-32 card mt-4 grid place-items-center">
          <h3 class="">Velocidad del rodillo 4: 16 metros/minuto</h3>
        </div>
        <div class="container_card w-full h-32 card mt-4 grid place-items-center">
          <h3 class="">Velocidad del rodillo 5: 13 metros/minuto</h3>
        </div>
        <div class="container_card grid grid-cols-2 w-full h-32 mt-4">
          <div class="container_card w-64 h-8 justify-content card mt-4 btn">
            <h2 class="text-center ">Incrementar Velocidad</h2>
          </div>
          <div class="container_card w-64 h-8 card mt-4 btn">
            <h2 class="text-center">Decrementar Velocidad</h2>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- End Features -->